body {
    margin: 0;
    background: url(../Week-8/Images/paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    margin: 0;
    height: 20vh;
    text-align: center;
    background: url(images/Black\ moon.jpg)
}

.mainB {
    padding: 10px;
    font-size: -5rem;
    margin: 10px;
}

.Hhome {
    font-size: 5rem;
    color: aliceblue;
    margin: 20px;
}

.title {
    font-size: 2rem;
    color: rgb(243, 147, 3);
    margin: 20px;
    text-align: center;
}

.container {
    border: solid 3px white;
   display: flex;
   justify-content: center
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: rotate(45deg);
        backgroud: violet;
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes skew {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: skew(30deg, 20deg);
        backgroud: violet;
    }
    100% {
        transform: rotate(0);
    }
}

.box-odd {
    animation-name: pop;
    animation-duration: 4s; 
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

.box-even {
    animation-name: skew;
    animation-duration: 4s; 
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

.box-one {
    width: 70%;
    height: 60%;
    display: flex;
    border: solid 10px white; 
    position: relative;
    top: 5rem;
}


.box-two{
    width: 50%;
    height: auto;
    border: solid 10px white;
    position: relative;
    right: 1rem;
}

